<article class="individual-cards">
    <a href="/products"> 
        <img class="image-cards" src="<%= images[0] %>" alt=""></a>
    <div class="text-card-container">
        <p class="product-name-cards"><%= title %></p>
        <div class="product-priceLegend-cards">
            <p class="product-price-cards"><%= price %></p>
            <p class="legend-cards">Puntos</p>
        </div>
    </div>
</article>