<article class="individual-cards">
    <a href="/products/<%= id %>"> 
        <% let ruta = images[0] || '/img/notImage.png' %>
        <img class="image-cards" src="<%= ruta %>" alt="image-product">
    </a>
    <div class="text-card-container">
        <p class="product-name-cards"><%= title %></p>
        <div class="product-priceLegend-cards">
            <p class="product-price-cards"><%= price %></p>
            <p class="legend-cards">Puntos</p>
        </div>
    </div>
</article>