<article class="product-cart">
    <div class="cart-img-text">
        <figure>
            <img src="<%= images[0] %>" alt="Producto1">
        </figure>
        <div>
            <p class="cart-text"><%= title %></p>
        </div>
    </div>
    <div class="cart-footer">
        <button type="submit" class="button-list">Quitar</button>
        <div class="counter">
            <button type="number" class="decrement">-</button>
            <p><%= quantity %></p>
            <button type="number" class="increment">+</button>
        </div>
        <div class="cart-total">
            <p><%= price * quantity %></p>
        </div>
    </div>
</article> 


