
<article class="product-cart">
    <div class="cart-img-text">
        <figure>
            <img src="/img/13553-0w600h600_Jack_Daniel_With_Glasses.jpeg" alt="Producto1">
        </figure>
        <div>
            <p class="cart-text">Jack Daniel's Tennessy Honey Botella 750 mL</p>
        </div>
    </div>
    <div class="cart-footer">
        <button type="submit" class="button-list">Quitar</button>
        <div class="counter">
            <button type="number" class="decrement">-</button>
            <p>1</p>
            <button type="number" class="increment">+</button>
        </div>
        <div class="cart-total">
            <p>24.343</p>
        </div>
    </div>
</article>