
<div class="banner">
    <div class="container-categorias">
        <div class="categorias">
            <ul class="lists-categorias">
            
                <li> <img class="categorias__icons" src="/img/tablet-cellphone.svg" alt="icon-tablet-cellphone">Electrónica</li>
                <li> <img class="categorias__icons" src="/img/hamburger.svg" alt="icon-hamburguer">  Alimentos</li>
                <li> <img class="categorias__icons" src="/img/glass-mug-variant.svg" alt="icon-glass-mug-variant"> Bebidas</li>
                <li><img class="categorias__icons" src="/img/tshirt-crew.svg" alt="icon-tshirt-crew">Indumentaria</li>
                <li><img class="categorias__icons" src="/img/controller-classic.svg" alt="icon-controller-classic">Juegos</li>
                <li><img class="categorias__icons" src="/img/steering.svg" alt="icon-steering"> Automotor</li>
                <li> <img class="categorias__icons" src="/img/sofa-single.svg" alt="icon-sofa-single">Hogar</li>
                <li><img class="categorias__icons" src="/img/gift-outline.svg" alt="icon-gift-outline"> Otros</li>
                
            </ul>
        </div>
    </div>
</div>