<div class="light-dark-mode">
    <input type="checkbox" class="c check-dark" id="toggle">
    <label class="c" for="toggle">
        <i class="fa-solid fa-sun sun"></i>
        <i class="fa-solid fa-moon moon"></i>
        <div class="ball"></div>
    </label>
</div>