<footer class="footer">
    <hr>
    <div class="footer--content">
        <div class="footer--redes">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>            
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="footer--text">
            <small>© MiEcommerce. Todos los derechos reservados.</small>
        </div>
        <div class="footer--store">
            <div>
                <i class="fa-brands fa-apple"></i>
                App Store
            </div>
            <div>
                <i class="fa-brands fa-google-play"></i>
                Google Play
            </div>
        </div>
    </div>
</footer>