<main class="form">
    <section class="container-form">
        <form action="login" method="POST" class="form-register">
            <h1 class="title">¡Registrate!</h1>
            <div class="inputs">
                <input type="text" placeholder="Tu email" required>
                <input type="password" placeholder="Tu nueva contraseña" required>
                <input type="password" placeholder="Repeti tu contraseña" required>
                <input type="submit" value="Crear Cuenta">
            </div>
            <p class="go-register">¿Ya tienes cuenta? <a href="login" class="go-login">Inicia Sesión</a></p>
        </form>
    </section>
</main>