<main class="form">
    <section class="container-form">
        <form action="register" method="get" class="form-login">
            <h1 class="title">¡Hola!</h1>
            <div class="inputs">
                <input type="text" placeholder="Tu nombre de usuario" id="nombreUsuario" name="nombreUsuario" required>
                <input type="password" placeholder="Tu contrasena" id="password" name="password" required>
                <input type="submit" value="Iniciar Sesion" required>
            </div>
            <p class="go-register">¿No tienes cuenta?<a href="register">Regístrate</a></p>
        </form>
    </section>
</main>