<main class="form">
    <section class="container-form">
        <form class="form-login" name="loginForm">
            <h1 class="title">¡Hola!</h1>
            <div class="inputs">
                <input type="text" placeholder="Tu nombre de usuario" id="nombreUsuario" name="nombreUsuario" class="user-log" required>
                <input type="password" placeholder="Tu contrasena" id="password" name="password" class="password-log" required>
                <input type="submit" value="Iniciar Sesion" class="submit-log" required>
            </div>
            <p class="go-register">¿No tienes cuenta?<a href="/register">Regístrate</a></p>
        </form>
    </section>
</main>