<header class="header">
    <div class="back-blur">
        
    </div>
    <a href="/">
        <img class="img--mobile" src="/img/MiEcommerce.png" alt="Logo">
        <img class="img--desktop" src="/img/MIE-1.png" alt="Logo">

    </a>
    <form action="" method="get">
        <input type="search" placeholder="Buscar productos...">
        <button>
            <i class="fas fa-regular fa-magnifying-glass"></i>
        </button>
    </form>
    <div class="profile">
        <i class="fa-solid fa-cart-shopping"></i>
        <span></span>
        <a href="">
            <img class="profile--img" src="/img/ProfilePic.png" alt="">
            Olivia
        </a>
    </div>
</header>