<div class="all-cards">
    <h3>Te puede interesar</h3>
    <section class="section-cards">
        <% for (let i = 0; i < dataRate.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: dataRate[i].id,
                images: dataRate[i].images,
                title: dataRate[i].title, 
                price: dataRate[i].price
            }) %>
        <% } %>
    </section>
    </section>
    <h3>Los mas pedidos</h3>
    <section class="section-cards">
        <% for (let i = 0; i < dataPopulars.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: dataPopulars[i].id,
                images: dataPopulars[i].images,
                title: dataPopulars[i].title, 
                price: dataPopulars[i].price
            }) %>
        <% } %>
    </section>
</div>
