<div class="all-cards">
    <h3>Te puede interesar</h3>

    <section class="section-cards">
        <% for (let i = 0; i < data.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: bestRateProducts[i].id,
                images: bestRateProducts[i].images,
                title: bestRateProducts[i].title, 
                price: bestRateProducts[i].price
            }) %>

        <% } %>
    </section>

    </section>
    <h3>Los mas pedidos</h3>
    <section class="section-cards">
    
     <%#   <% for (let i = 0; i <= 7; i++){%> %>
      <%#        <%- include('./cardProduct.ejs', { %>
       <%#           id: bestCountProducts[i].id, %>
       <%#           images: bestCountProducts[i].images, %>
       <%#           title: bestCountProducts[i].title, %>
        <%#          price: bestCountProducts[i].price %>

        <% for (let i = 0; i < dataP.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: dataP[i].id,
                images: dataP[i].images,
                title: dataP[i].title, 
                price: dataP[i].price

            }) %>

        <% } %>
    </section>
</div>