<div class="all-cards">
    <h3>Te puede interesar</h3>

    <section class="section-cards">
        <% for (let i = 0; i < data.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: data[i].id,
                images: data[i].images,
                title: data[i].title, 
                price: data[i].price
            }) %>

        <% } %>
    </section>

    </section>
    <h3>Los mas pedidos</h3>
    <section class="section-cards">
        <% for (let i = 0; i < dataP.length; i++){%>
            <%- include('./cardProduct.ejs', {
                id: dataP[i].id,
                images: dataP[i].images,
                title: dataP[i].title, 
                price: dataP[i].price
            }) %>

        <% } %>
    </section>
</div>