<div class="all-cards">
    <h3>Te puede interesar</h3>

    <section class="section-cards">
        <article class="individual-cards">
            <a href="/products"> <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt=""></a>
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del producto o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del producto o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del producto o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del producto o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
    </section>

    </section>
    <h3>Los mas pedidos</h3>
    <section class="section-cards">
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del producto o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del productooooooo o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del productooooooo o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del productooooooo o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del productooooooo o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
        <article class="individual-cards">
            <img class="image-cards" src="/img/milanesa-napolitana.jpeg" alt="">
            <div class="text-card-container">
                <p class="product-name-cards">Nombre del productooooooo o servicio</p>
                <div class="product-priceLegend-cards">
                    <p class="product-price-cards">5500</p>
                    <p class="legend-cards">Puntos</p>
                </div>
            </div>
        </article>
    </section>
</div>