<%- include('./head.ejs', {link: 'css/components/header2.css', titulo: "Producto no encontrado || MiEcommerce"}) %>
<%- include('../partials/header.ejs') %>

<main class="productError">
    <div class="banner-error">

    </div>
    <h1> Ups!</h1>
    <h2>Parece que ha intentado acceder a un producto inexistente.</h2>
    <h3></h3>

    <%- include('../partials/categorias.ejs') %>

</main>

<%- include('./footer.ejs') %>
