<navbar class="user-menu">

    <div class="no-menu">
    </div>

    <div class="menu">
        <div class="user-menu-top">
            <a class="user-profile-card" href="">
                <img class="profile--img" src="/img/ProfilePic.png" alt="Foto de perfil">
                <span class="user-name">Olivia</span>
            </a>
        </div>
        
        <div class="user-menu-bottom">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="../cart">Mis Compras</a></li>
                <li><a href="">Favoritos</a></li>
                <li><a href="">Historial</a></li>
                <li><a href="">Cambiar a tema oscuro</a></li>
            </ul>
        </div>
    </div>


</navbar>