<section class="wrong">
    <h1 class="wrong-title"></h1>
    <p class="wrong-text">Si olvido su <strong>contraseña</strong> o ingreso mal algun campo <em>vuelva a intentarlo</em></p>
    <div class="buttons">
        <input class="wrong-secondary-bt" type="button" value="Reintentar">
        <input class="wrong-primary-bt" type="button" value="Recuperar contraseña">
    </div>
</section>