:root{
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --green-back: rgba(12,176,147,1);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --borders: rgba(0,0,0, 0.5);
    --button-back: #494f51;
    --border-cards: rgba(109, 104, 104, 0.462);
    --grey-footer: #999999;
    --header-back: rgba(255, 255, 255, 0.5);
    --number-red: red;
    --border-buttons-text: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

