
.main{
    margin-top: 100px;
}

.banner{
    width: 100%;
}

/* BANNER DE ARRIBA */

.container-categorias{
    margin-top: 30px;
    width: 100vw;
    height: 270px;
}

.categorias{
    margin: auto;
    margin-top: 10px;
    max-width: 382px; 
    padding-left: 24px;
    padding-top: 16px;
    height: 283px;
    background-color: var(--dark-gray);
    border-radius: 16px;
    margin-bottom: 27px;

    width: 92vw;

    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.295));
}

.lists-categorias{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 11px;

}
.lists-categorias li{
    color: var(--white);
    display: flex;
    align-items: flex-center;
    align-content: center;
    gap: 10px;
}

.categorias__icons{
    width: 18px;
}


/* BANNER DE ABAJO */


.container-combos{
    margin-top: 100px;
    background-color: var(--green-back);
    position: absolute;
    width: 100vw;
    height: 270px;
}

.combos__cards{
    position: relative;
    
    display: flex;
    align-items: flex-end;
    
    width: 92%;
    max-width: 382px;
    height: 194px;
    
    border-radius: 16px;
    margin: auto;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.295));
    background-size: cover;

}

.combos__card1{
    background-image: url('/img/disneybg.jpg');
    background-size: cover;
    top: -66px;
}
.combos__card2{
    background-image: url('/img/ProductHero.jpg');
    top: -55px; }


.combos__logos{
    z-index: 3;
    display: flex;
    width: 100%;
    margin: 2%;
    align-items: center;
    align-content: flex-;
    gap: 4%;
}
.combos__logos img{
    width: 29%;
    border-radius: 5px;
}
.combos__logos h2{
    color: var(--white);
    font-size: 20px;
    font-weight: 900;
    /* line-height: 27px; */
}
.combos__logos p{
    color: var(--white);
    /* font-size: 20px; */
    font-weight: 400;
    /* line-height: 27px; */

}
.combos__promo{
    display: flex;
    flex-direction: column;
}
.sombreado{
    position: absolute;
    border-radius: 16px;

    z-index: 3;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}



/* MEDIAS */

@media (min-width:1000px){

    /* MEDIA - BANNER DE ARRIBA */

.container-categorias{
    padding: 0px;
    width: 100%;
    height: 130px;
    max-width: none;
}
.categorias{
    width: 90%;
    max-width: 1024px; 
    height: 100%;
    border-radius: 16px;
}

.lists-categorias{
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50%;
    margin-top: 15px;
}

.lists-categorias li{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12.25%;
    margin-left: -10px;
}

.lists-categorias li:not(:last-child){
    border-right: 2px solid white;
}

.categorias__icons{
    width: 40px;
}


    /* MEDIA - BANNER DE ABAJO */

    .combos{
        width: 90%;
        max-width: 1024px; 
        margin: auto;
        display: flex;
        gap: 4%;
        height: 100%;
    }
    
    .combos__cards{
        margin: 0px;
        height: 130%;
        width: 70%;
        max-width: 504px;
        max-height: 256px;

        border-radius: 16px;

        top: -9%;

    }
    
    .combos__card2{
        background-image: url('/img/hbobg.jpg');
    }

}