.header{
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--grey-footer);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: var(--header-back);
    backdrop-filter: blur(4px);
    height: 64px;
}

.header--content{
    width: 100%;
    max-width: 1300px;
}

/* a .cart{
    text-decoration: none;
} */

.img--desktop{
    display: none;
}

.profile{
    display: flex;
    align-items: stretch;
}

.profile--img{
    border: 4px var(--button-back) solid;
    width: 35px; 
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}


.fa-cart-shopping{
    font-size: 15px;
    background-color: var(--button-back);
    border-radius: 50%;
    color: var(--white);
    padding: 10px;
    margin: 0 10px 0 0;
};

.cart{
    position: relative;
}

.cart--red {
    position: absolute;
    background-color: var(--number-red) !important;
    width: 16px;
    padding: 0.25px 0;
    text-align: center;
    border-radius: 20px;
    font-size: 7px;
    color: var(--white);
    right: 58px;
}

.profile--img:hover, .fa-cart-shopping:hover{
    background-color: var(--green-back);
    border-color: var(--green-back);
    transition: all 0.5s ease;
    cursor: pointer;
}

.search{
    width: 60%;
    position: relative;
}

.search input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--button-back);
}

.search button{
    position: absolute;
    right: 10px;
    top: 7px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.profile a span{
    display: none;
}

@media screen and (min-width: 800px) {
    .img--desktop{
        display: block;
    }

    .img--mobile{
        display: none;
    }
    .profile a span{
        display: block;
        background-color: var(--button-back);
        position: absolute;
    }
    .profile--name{
        position: relative;
        color: var(--white);
    }

    .profile--name span{
        font-size: 14px;
        padding: 9px 10px 10px 35px;
        border-radius: 20px;
        z-index: -1;
        top: 0;
        left: 5px;
        cursor: pointer;
    }

    .profile--name span:hover, .profile--name:hover .profile--img{
        background-color: var(--green-back);
        border-color: var(--green-back);
        transition: all 0.5s ease;
    }

    .profile{
        margin-right: 40px;
    }
    .cart--red{
        right: 98px;
    }
}