<%- include('../partials/head.ejs') %>
    <main>
        <%- include('../partials/header.ejs') %>
            <section class="cart-section">
                <div class="cart-header">
                    <div class="breadCrumb">
                        <a class="cart-link" href="/index.ejs"><img class="cart-link-img" src="/img/arrow-left.svg">Volver</a>
                    </div>
                    <div class="cart-title">
                        <h3>Productos en tu Carrito</h3>
                    </div>
                </div>

                <div class="cart-container">
                    <article class="product-cart">
                        <div class="cart-img-text">
                            <figure>
                                <img src="/img/13553-0w600h600_Jack_Daniel_With_Glasses.jpeg" alt="Producto1">
                            </figure>
                            <div>
                                <p class="cart-text">Jack Daniel's Tennessy Honey Botella 750 mL</p>
                            </div>
                        </div>
                        <div class="cart-footer">
                            <button type="submit" class="button-list">Quitar</button>
                            <div class="counter">
                                <button type="number" class="decrement">-</button>
                                <p>1</p>
                                <button type="number" class="increment">+</button>
                            </div>
                            <div class="cart-total">
                                <p>24.343</p>
                            </div>
                        </div>
                    </article>
                    <article class="product-cart">
                        <div class="cart-img-text">
                            <figure>
                                <img src="/img/13553-0w600h600_Jack_Daniel_With_Glasses.jpeg" alt="Producto1">
                            </figure>
                            <div class="cart-text">
                                <p >Jack Daniel's Tennessy Honey Boodijedheodh hudehnnoco eieh iih
                                    eoiheoheo tella 750 mL</p>
                            </div>
                        </div>
                        <div class="cart-footer">
                            <button type="submit" class="button-list">Quitar</button>
                            <div class="counter">
                                <button type="number" class="decrement">-</button>
                                <p>1</p>
                                <button type="number" class="increment">+</button>
                            </div>
                            <div class="cart-total">
                                <p>24.343</p>
                            </div>
                        </div>
                    </article>
                    <article class="product-cart">
                        <div class="cart-img-text">
                            <figure>
                                <img src="/img/13553-0w600h600_Jack_Daniel_With_Glasses.jpeg" alt="Producto1">
                            </figure>
                            <div>
                                <p class="cart-text">Jack Daniel's Tennessy Honey Botella 750 mL</p>
                            </div>
                        </div>
                        <div class="cart-footer">
                            <button type="submit" class="button-list">Quitar</button>
                            <div class="counter">
                                <button type="number" class="decrement">-</button>
                                <p>1</p>
                                <button type="number" class="increment">+</button>
                            </div>
                            <div class="cart-total">
                                <p>24.343</p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cart-checkout">
                    <div class="cart-footer-main">
                        <span class="total-points-text">Total de Puntos</span>
                        <span class="total-points">34.568</span>
                    </div>
                    <div class="cart-button-end">
                        <button class="button-list" type="submit">Ir a Pagar</button>
                    </div>
                </div>

            </section>

            <%- include('../partials/footer.ejs') %>
    </main>

    </html>