<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {link: ''}) %>
<body>
    <%- include('../partials/header.ejs') %>

    <div class="relleno">a</div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>