<%- include('../partials/head.ejs', {link: 'css/components/header2.css'}) %>
,<main>
<%- include('../partials/header.ejs') %>

<div class="relleno">a</div>
<%- include('../partials/footer.ejs') %>
</main>