
<%- include('../partials/head.ejs', {link: 'css/components/header2.css', titulo: "LOGIN"}) %>
<%- include('../partials/header.ejs') %>

<main>
    <%- include('../partials/formLogin.ejs') %>

</main>

<%- include('../partials/footer.ejs') %>
